<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="container_about" style="margin-left: 30px; margin-top: 150px;"">
  <h2>Responsive "Meet The Team" Section</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag("about_page/avi.jpg") %>
      <div class="container">
        <h2>Avi One</h2>
        <p class="title">Executive Chef</p>
        <p>Always cooking up some good new stuff.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag("about_page/jenn1.jpg") %>
      <div class="container">
        <h2>Jennifer Pazos</h2>
        <p class="title">Head Cook</p>
        <p>Always cooking up some Sinatra</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <%= image_tag("about_page/jenn2.jpg") %>
      <div class="container">
        <h2>Jennifer Hansen </h2>
        <p class="title">Head Chef</p>
        <p>Always cooking up some ROR</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
