
<div class="container" style="margin-top: 120px; margin-bottom: 30px;">
  <%= render 'users/partials/user_info' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>






