// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_size{
    width: 50%;
    height: 100px;
  }
.carousel-caption {
    top: 70px;
    bottom: auto;
    color: #CCFFCC;
    background-color: black;
    opacity: .7;
}

.mySlides {display:none;}

.img_size{
    width: 100%;
    height: 500px;
  }
