<div class="dropdown-container">
  <%= link_to "Search", admin_searchuser_path %>
  <%= link_to "Add", new_admin_user_path%>
  <%= link_to "Update", admin_searchuser_path %>
  <%= link_to "Delete", admin_searchuser_path %>
</div>
